/**
 * Yireo Library for Joomla!
 *
 * @author Yireo
 * @package Yireo
 * @copyright Copyright 2015
 * @link http://www.yireo.com/
 */

div.version {
    padding: 20px;
}

div#yireo-logo img {
    display: inline;
}

div#yireo-logo h3 {
    display: inline;
    padding-left: 15px;
    font-size: 180%; 
    color:#888; 
    font-family:'Open Sans'; 
    font-weight:300;
}

div#promotion h3.teaser {
    font-size:400%;
    line-height:100%;
    font-weight:normal;
    border:0;
    color:#d20000;
    text-align:center;
    margin: 0;
    padding: 0;
}

div#promotion p.link {
    font-size: 130%;
    font-weight: bold;
    line-height:10%;
    margin-top: 20px;
    text-align:center;
}

div#cpanel {
    margin-top: 0px;
    min-height: 150px;
}

div#cpanel div.icon {
    margin: 10px;
    height: 90px;
    width: 125px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #eee;
    padding-top: 20px;
    text-align: center;
}

div#cpanel div.icon:hover {
    background-color: rgba(0,0,0,.02);
}

div#cpanel div.icon span {
    display: block;
}

div.details {
    line-height: 180%;
}

div.details p i.fa {
    padding-right: 5px;
}
