# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/vendor/

# IDE - VSCode
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# PHP-CS-Fixer
.php-cs-fixer.cache

# PHPStan
tmp/

# misc
dist/
magento/var