/*
 * Joomla! component MageBridge
 *
 * @author Yireo (info@yireo.com)
 * @package MageBridge
 * @copyright Copyright 2014
 * @link http://www.yireo.com
 */

fieldset.adminform {
    border: 1px solid #dfdfdf !important;
    background-color: #f1f1f1;
}

fieldset.adminform td.key, div.control-label label {
    background-color: #dfdfdf;
    padding: 5px;
    line-height: 16px;
    text-align: right;
}

fieldset.adminform td.value label {
    float: left;
    clear: none;
    min-width: 15px;
    width: auto;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 0px;
    line-height: 16px;
    display: inline;
}

fieldset.adminform td.value select {
    clear: both;
}

fieldset.adminform td.value {
    width: 400px !important;
}

fieldset.adminform span.input-span {
    line-height: 250%;
    font-size: 80%;
    float:left;
}

div.current div.control-group div.controls {
    padding-top: 10px;
    padding-left: 10px;
}

div.current div.control-group div.controls label {
    display: inline;
    clear: none;
    min-width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

