/*
 * Yireo Library for Joomla!
 *
 * @author Yireo
 * @package Yireo
 * @copyright Copyright 2014
 * @link http://www.yireo.com
 */

fieldset.adminform td.key {
    padding-right: 4px;
    text-align: right;
}

fieldset.adminform td.value label {
    float: left;
    clear: none;
    min-width: 15px;
    width: auto;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 0px !important;
    line-height: 16px;
    display: inline;
}

fieldset.adminform td.value select {
    clear: both;
}

fieldset.adminform td.value {
    padding-left: 5px;
    width: 400px !important;
}

fieldset.adminform td.value div.controls {
    padding-left: 20px;
}

fieldset.adminform td.value div.controls label {
    line-height: 24px;
}

td.order {
    width: 100px;
}

td.order input.ordering {
    width: 20px;
}

td.vital {
    border: 0px solid #85b1cd !important;
}

