<?xml version="1.0"?>
<!--
/**
 * MageBridge
 *
 * @author Yireo
 * @package MageBridge
 * @copyright Copyright 2015
 * @license Open Source License
 * @link http://www.yireo.com
 */
-->
<config>

    <modules>
        <Yireo_MageBridge>
            <version>1.9.5345</version>
        </Yireo_MageBridge>
    </modules>

    <global>

        <blocks>
            <magebridge>
                <class>Yireo_MageBridge_Block</class>
            </magebridge>

            <!-- Override of Magento classes -->
            <page>
                <rewrite>
                    <html_breadcrumbs>Yireo_MageBridge_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>

            <core>
                <rewrite>
                    <text_list>Yireo_MageBridge_Block_TextList</text_list>
                </rewrite>
            </core>

            <checkout>
                <rewrite>
                    <onepage_success>Yireo_MageBridge_Block_Rewrite_Checkout_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>

        <helpers>
            <magebridge>
                <class>Yireo_MageBridge_Helper</class>
            </magebridge>
        </helpers>

        <models>
            <!-- Default MageBridge classes -->
            <magebridge>
                <class>Yireo_MageBridge_Model</class>
                <resourceModel>magebridge_mysql4</resourceModel>
            </magebridge>

            <!-- MageBridge resource classes -->
            <magebridge_mysql4>
                <class>Yireo_MageBridge_Model_Mysql4</class>
                <entities>
                    <customer_joomla>
                        <table>magebridge_customer_joomla</table>
                    </customer_joomla>
                </entities>
            </magebridge_mysql4>

            <!-- Override of Magento classes -->
            <core>
                <rewrite>
                    <email_template_filter>Yireo_MageBridge_Model_Rewrite_Email_Template_Filter</email_template_filter>
                </rewrite>
                <rewrite>
                    <url>Yireo_MageBridge_Model_Rewrite_Url</url>
                </rewrite>
                <rewrite>
                    <store>Yireo_MageBridge_Model_Rewrite_Store</store>
                </rewrite>
                <rewrite>
                    <message_collection>Yireo_MageBridge_Model_Rewrite_Message_Collection</message_collection>
                </rewrite>
            </core>

            <customer>
                <rewrite>
                    <customer>Yireo_MageBridge_Model_Rewrite_Customer</customer>
                </rewrite>
                <rewrite>
                    <session>Yireo_MageBridge_Model_Rewrite_Customer_Session</session>
                </rewrite>
            </customer>

            <adminhtml>
                <rewrite>
                    <url>Yireo_MageBridge_Model_Rewrite_Adminhtml_Url</url>
                </rewrite>
            </adminhtml>
        </models>

        <resources>
            <magebridge_setup>
                <setup>
                    <module>Yireo_MageBridge</module>
                    <class>Yireo_MageBridge_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magebridge_setup>
            <magebridge_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magebridge_write>
            <magebridge_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magebridge_read>
        </resources>

        <events>
            <address_save_after>
                <observers>
                    <magebridge_address_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>addressSaveAfter</method>
                    </magebridge_address_save_after>
                </observers>
            </address_save_after>
            <admin_session_user_login_success>
                <observers>
                    <magebridge_admin_session_user_login_success>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>adminSessionUserLoginSuccess</method>
                    </magebridge_admin_session_user_login_success>
                </observers>
            </admin_session_user_login_success>
            <adminhtml_customer_save_before>
                <observers>
                    <magebridge_adminhtml_customer_save_before>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>adminhtmlCustomerSaveBefore</method>
                    </magebridge_adminhtml_customer_save_before>
                </observers>
            </adminhtml_customer_save_before>
            <adminhtml_customer_save_after>
                <observers>
                    <magebridge_adminhtml_customer_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>adminhtmlCustomerSaveAfter</method>
                    </magebridge_adminhtml_customer_save_after>
                </observers>
            </adminhtml_customer_save_after>
            <adminhtml_customer_delete_after>
                <observers>
                    <magebridge_adminhtml_customer_delete_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>adminhtmlCustomerDeleteAfter</method>
                    </magebridge_adminhtml_customer_delete_after>
                </observers>
            </adminhtml_customer_delete_after>
            <catalog_product_save_after>
                <observers>
                    <magebridge_catalog_product_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogProductSaveAfter</method>
                    </magebridge_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <magebridge_catalog_product_delete_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </magebridge_catalog_product_delete_after>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_save_after>
                <observers>
                    <magebridge_catalog_category_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </magebridge_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <magebridge_catalog_category_delete_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogCategoryDeleteAfter</method>
                    </magebridge_catalog_category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <catalog_product_status_update>
                <observers>
                    <magebridge_catalog_product_status_update>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogProductStatusUpdate</method>
                    </magebridge_catalog_product_status_update>
                </observers>
            </catalog_product_status_update>
            <catalog_product_is_salable_before>
                <observers>
                    <magebridge_catalog_product_is_salable_before>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>catalogProductIsSalableBefore</method>
                    </magebridge_catalog_product_is_salable_before>
                </observers>
            </catalog_product_is_salable_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <magebridge_checkout_cart_add_product_complete>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>checkoutCartAddProductComplete</method>
                    </magebridge_checkout_cart_add_product_complete>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <magebridge_checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                    </magebridge_checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_onepage_controller_success_action>
                <observers>
                    <magebridge_checkout_onepage_controller_success_action>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>checkoutOnepageControllerSuccessAction</method>
                    </magebridge_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <magebridge_checkout_type_onepage_save_order_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </magebridge_checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <controller_action_predispatch>
                <observers>
                    <magebridge_controller_action_predispatch>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </magebridge_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
            <!--<controller_action_layout_render_before>
                <observers>
                    <magebridge_controller_action_layout_render_before>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </magebridge_controller_action_layout_render_before>
                </observers>
            </controller_action_layout_render_before>-->
            <!--<controller_action_layout_load_before>
                <observers>
                    <magebridge_controller_action_layout_load_before>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </magebridge_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>-->
            <core_block_abstract_to_html_before>
                <observers>
                    <magebridge_block_caching>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Block</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </magebridge_block_caching>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_login>
                <observers>
                    <magebridge_customer_login>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>customerLogin</method>
                    </magebridge_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <magebridge_customer_logout>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>customerLogout</method>
                    </magebridge_customer_logout>
                </observers>
            </customer_logout>
            <customer_save_before>
                <observers>
                    <magebridge_customer_save_before>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>customerSaveBefore</method>
                    </magebridge_customer_save_before>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <magebridge_customer_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>customerSaveAfter</method>
                    </magebridge_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <magebridge_customer_delete_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>customerDeleteAfter</method>
                    </magebridge_customer_delete_after>
                </observers>
            </customer_delete_after>
            <newsletter_subscriber_save_after>
                <observers>
                    <magebridge_newsletter_subscriber_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </magebridge_newsletter_subscriber_save_after>
                </observers>
            </newsletter_subscriber_save_after>
            <sales_convert_order_to_quote>
                <observers>
                    <magebridge_sales_convert_order_to_quote>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>salesConvertOrderToQuote</method>
                    </magebridge_sales_convert_order_to_quote>
                </observers>
            </sales_convert_order_to_quote>
            <sales_order_place_after>
                <observers>
                    <magebridge_sales_order_place_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </magebridge_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <magebridge_sales_order_save_after>
                        <type>singleton</type>
                        <class>Yireo_MageBridge_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </magebridge_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magebridge after="Mage_Adminhtml">Yireo_MageBridge</magebridge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <magebridge>
                    <file>magebridge.xml</file>
                </magebridge>
            </updates>
        </layout>
        <translate>
            <modules>
                <Yireo_MageBridge>
                    <files>
                        <default>Yireo_MageBridge.csv</default>
                    </files>
                </Yireo_MageBridge>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <cms>
                            <children>
                                <magebridge translate="title" module="magebridge">
                                    <title>MageBridge settings</title>
                                </magebridge>
                            </children>
                        </cms>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magebridge translate="title" module="magebridge">
                                            <title>MageBridge advanced options</title>
                                        </magebridge>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <magebridge>
                    <file>magebridge.xml</file>
                </magebridge>
            </updates>
        </layout>
        <routers>
            <magebridge>
                <use>standard</use>
                <args>
                    <module>Yireo_MageBridge</module>
                    <frontName>magebridge</frontName>
                </args>
            </magebridge>
        </routers>
    </frontend>

    <default>
        <magebridge>
            <settings>
                <preoutput_gallery>1</preoutput_gallery>
                <preoutput_compare>1</preoutput_compare>
                <bridge_downloads>1</bridge_downloads>
                <bridge_all>0</bridge_all>
                <joomla_map>1</joomla_map>
                <joomla_auth>0</joomla_auth>
                <joomla_remotesso>0</joomla_remotesso>
                <caching>0</caching>
                <caching_gzip>0</caching_gzip>
                <debug_log>0</debug_log>
                <debug_print>0</debug_print>
                <full_dispatch>1</full_dispatch>
                <api_detect>1</api_detect>
                <encryption>0</encryption>
                <encryption_key></encryption_key>
                <continue_shopping_to_previous>1</continue_shopping_to_previous>
                <direct_output>magebridge/output/test4</direct_output>
                <disable_form_key>1</disable_form_key>
            </settings>
        </magebridge>
    </default>

</config>
