<?xml version="1.0"?>
<!--
/**
 * MageBridge
 *
 * @author Yireo
 * @package MageBridge
 * @copyright Copyright 2015
 * @license Open Source License
 * @link http://www.yireo.com
 */
-->
<config>
    <sections>
        <magebridge translate="label" module="magebridge">
            <label>MageBridge</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>342</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <joomla translate="label">
                    <label>MageBridge Core - API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_detect translate="label">
                            <label>Joomla! API auto-detect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Disable to manually configure API-details below</comment>
                        </api_detect>
                        <api_url translate="label">
                            <label>Joomla! API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_url>
                        <api_user translate="label">
                            <label>Joomla! API user</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_user>
                        <api_key translate="label">
                            <label>Joomla! API key</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                        <remotesso translate="label">
                            <label>Remote SSO</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Perform remote SSO from within standalone Magento frontend</comment>
                        </remotesso>
                        <auth translate="label">
                            <label>Remote Authentication</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Authenticate customers with Joomla! (JSON-RPC)</comment>
                        </auth>
                        <map translate="label">
                            <label>User Map</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Maintain map of Magento customer-IDs vs Joomla! user-ID</comment>
                        </map>
                        <encryption translate="label">
                            <label>Encryption</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Encrypt sensitive data using Mcrypt if SSL is not available</comment>
                        </encryption>
                        <encryption_key translate="label">
                            <label>Encryption Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Encrypt-key (the same as in Joomla!)</comment>
                        </encryption_key>
                    </fields>
                </joomla>
                <cache translate="label">
                    <label>MageBridge Core - Caching</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <caching translate="label">
                            <label>Caching</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                Extra block-caching capabilities per page per block<br/>
                                <strong>WARNING</strong>: Make sure you have enough cache-space
                            ]]></comment>
                        </caching>
                        <caching_gzip translate="label">
                            <label>Cache compression</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                Compress cache-elements to save diskspace.<br/>
                                <strong>WARNING</strong>: Do NOT use with APC or memcache
                            ]]></comment>
                        </caching_gzip>
                    </fields>
                </cache>
                <sync translate="label">
                    <label>MageBridge Core - Synchronizing</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customer_groups translate="label">
                            <label>Customer Groups</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magebridge/system_config_source_customer_group_multiselect</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select customer groups to sync records for. None means all groups are synced.</comment>
                        </customer_groups>
                    </fields>
                </sync>
                <debug translate="label">
                    <label>MageBridge Core - Debugging</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <log translate="label">
                            <label>Debug Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Log debugging to MAGENTO/var/log/magebridge.log</comment>
                        </log>
                        <print translate="label">
                            <label>Print errors</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Print all errors on screen when debugging</comment>
                        </print>
                    </fields>
                </debug>
                <settings translate="label">
                    <label>MageBridge Core - Other Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <preoutput_compare translate="label">
                            <label>Preoutput Compare Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Directly output the content of the compare-pages</comment>
                        </preoutput_compare>
                        <preoutput_gallery translate="label">
                            <label>Preoutput Gallery Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Directly output the content of gallery-pages</comment>
                        </preoutput_gallery>
                        <bridge_downloads translate="label">
                            <label>Bridge Downloadable Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Convert downloadable links to Joomla! links</comment>
                        </bridge_downloads>
                        <bridge_all translate="label">
                            <label>Bridge all HTTP-content</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                <strong>EXPERIMENTAL</strong>: This is for experts only - and we don't even use it
                            ]]></comment>
                        </bridge_all>
                        <continue_shopping_to_previous translate="label">
                            <label>Continue Shopping to Previous</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Set "Continue Shopping" link to previous page</comment>
                        </continue_shopping_to_previous>
                        <direct_output translate="label">
                            <label>Direct Output URLs</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Comma-seperated list of URLs that MageBridge should directly output</comment>
                        </direct_output>
                        <full_dispatch translate="label">
                            <label>Full dispatch</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Experimental feature; Default is yes;</comment>
                        </full_dispatch>
                        <disable_form_key translate="label">
                            <label>Disable Magento form_key</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Disable Magento anti-spoof form_key protection</comment>
                        </disable_form_key>
                    </fields>
                </settings>
            </groups>
        </magebridge>
    </sections>
</config>

